.stock-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.stock-modal-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 300px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stock-modal-header {
  align-items: center;
  margin-bottom: 1rem;
}

.stock-modal-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-700);
  margin: 0;
}

.stock-modal-body {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
