.contactuspage-hero {
  background-image: url("../../images/bg_images/bg_image_4.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.contactuspage-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here (0.0 to 1.0) */
  z-index: 1;
}

.contactuspage-overlay {
  display: flex;
  flex-direction: column;
  padding: 0 20rem;
  width: 100%;
  align-items: center;
}

.contactuspage-box {
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  padding: 40px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.contactuspage-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  z-index: 2;
}

.contactuspage-subtitle {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: white;
  z-index: 2;
}

.contactuspage-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contactuspage-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contactuspage-form-group label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #444;
}

.contactuspage-input,
.contactuspage-textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.contactuspage-input:focus,
.contactuspage-textarea:focus {
  border-color: var(--primary-color);
}

.contactuspage-textarea {
  resize: vertical;
  min-height: 100px;
  resize: none;
}

.contactuspage-button-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contactuspage-button {
  margin-top: 1rem;
  padding: 12px 24px;
  background-color: #ffafcc;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactuspage-button:hover {
  background-color: #ff80b5;
}

@media (max-width: 768px) {
  .contactuspage-overlay {
    padding: 0 2rem;
  }

  .contactuspage-title {
    font-size: 2rem;
  }

  .contactuspage-subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .contactuspage-box {
    padding: 20px;
    width: 100%;
    border-radius: 12px;
  }

  .contactuspage-input,
  .contactuspage-textarea {
    font-size: 0.95rem;
    padding: 10px 14px;
  }

  .contactuspage-button {
    width: 100%;
    font-size: 1rem;
    padding: 12px;
  }

  .contactuspage-button-container {
    width: 100%;
  }
}
