.adminPage-container {
  max-width: 1200px;
  margin: 0 auto 2rem auto;
  padding: 120px 1rem 0 1rem;
  min-height: 60vh;
}

.adminPage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.adminPage-header h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.adminPage-addIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.adminPage-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.adminPage-table thead th {
  border: 1px solid #ccc;
  padding: 0.75rem;
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: center;
}
.adminPage-table tbody tr {
  min-height: 100px;
  text-align: center;
}
.adminPage-table tbody td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  vertical-align: middle;
  min-height: 100px;
}

.adminPage-productImg {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.adminPage-actions {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.adminPage-actionBtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px; /* Space between icons */
  vertical-align: middle; /* Align icons to middle of line */
  cursor: pointer;
}

.adminPage-loginButton {
  padding: 0.75rem 1.5rem;
  background-color: #3a2e2e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.adminPage-loginButton:hover {
  background-color: #2a1f1f;
}

.adminPage-quantityInput {
  width: 60px;
  padding: 4px;
  text-align: center;
}

.adminPage-saveBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.adminPage-saveBtn:hover {
  background-color: #291e1e;
}

.input-error {
  border: 2px solid red;
}

.adminPage-saveBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.adminPage-cancelBtn {
  background-color: #f44336;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adminPage-cancelBtn:hover {
  background-color: #d32f2f;
}

.adminPage-searchInput {
  padding: 8px 12px;
  width: 300px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
